/* This and config.jsonc were adapted from shvedes' config (https://github.com/ErikReider/SwayNotificationCenter/discussions/183#discussioncomment-8022846) */
/* Colour scheme stolen from lackluster.nvim by slugbyte (https://github.com/slugbyte/lackluster.nvim) */
@define-color cc-bg #191919;
@define-color noti-bg #444444;
@define-color noti-bg-darker #2A2A2A;

@define-color text-color #d6d6dd;
@define-color text-color-muted #9a9aa3;
@define-color accent #789978;
@define-color accent-warning #FFAA99;

* {
    font-family: FiraCode Nerd Font;
    font-weight: 600;
    font-size: 16px;
    box-shadow: none;
}

scrolledwindow scrollbar {
    opacity: 0;
    background: transparent;
    border: none;
}

scrolledwindow scrollbar slider {
    background: transparent;
    border: none;
}

scrolledwindow scrollbar trough {
    background: transparent;
    border: none;
}

list > row {
    background: @cc-bg;
}

.notification image,
.notification .image,
.notification-content image {
    border-radius: 8px;
}

.notification-row {
    background: transparent;
    outline: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
}

.notification:hover {
    background: @noti-bg;
}

.notification {
    background: @noti-bg;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.notification-content {
    background: @noti-bg;
    padding: 5px;
    border-radius: 6px;
}

.close-button {
    background: @accent;
    color: @cc-bg;
    border-radius: 4px;
    padding: 4px 4px;
}

.close-button:hover {
    background: @accent-warning;
    color: @cc-bg;
}

.notification-default-action:hover {
    background: transparent;
}

.notification-action {
    color: @text-color;
    background: @cc-bg;
    border-radius: 0px 0px 8px 8px;
}

.summary {
    font-size: 16px;
    color: @text-color;
}

.time {
    font-size: 13px;
    color: @text-color-muted;
}

.body {
    font-size: 14px;
    color: @text-color-muted;
}

.control-center {
    background: @cc-bg;
    border-radius: 8px;
}

.control-center-list {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.15);
}

.widget-title {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 6px 12px;
    margin: 10px;
    font-size: 1.3rem;
    border-radius: 6px;
}

.widget-title > button {
    font-size: 0.95rem;
    color: @text-color;
    background: transparent;
    border-radius: 4px;
}

.widget-title > button:hover {
    background: @accent-warning;
    color: @cc-bg;
}

.widget-dnd {
    background: @noti-bg-darker;
    padding: 6px 12px;
    margin: 5px 10px 10px 10px;
    border-radius: 6px;
    color: @text-color;
}

.widget-dnd > switch {
    border-radius: 5px;
    background: @noti-bg;
}

.widget-dnd > switch:checked {
    background: @accent;
}

.widget-dnd > switch slider {
    background: @cc-bg;
    border-radius: 5px;
}

.widget-label > label {
    font-size: 1rem;
    color: @text-color;
}

.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 6px 10px;
    margin: 5px 10px;
    border-radius: 6px;
}

.widget-mpris > box > button {
    border-radius: 5px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.15rem;
}

.widget-mpris-subtitle {
    font-size: 1rem;
    color: @text-color-muted;
}

.widget-buttons-grid {
    padding: 6px;
    margin: 5px 10px 10px 10px;
    border-radius: 6px;
    background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild:hover {
    background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 4px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: @cc-bg;
    border-radius: 6px;
    color: @text-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @accent;
    color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button,
.topbar-buttons > button {
    border: none;
    background: transparent;
}

.widget-volume scale trough {
    background: @noti-bg;
    border-radius: 6px;
    border: none;
}

.widget-volume scale highlight {
    background: @accent;
    border-radius: 6px;
}

.widget-volume scale slider:hover {
    background: @noti-bg;
}

.widget-volume > box > button {
    background: @noti-bg-darker;
    color: @text-color;
}

.widget-volume > box > button:active,
.widget-volume > box > button:focus {
    background: @accent;
    color: @cc-bg;
}
