/*
* Lacklustre.nvim inspired palette (https://github.com/slugbyte/lackluster.nvim)
* adapted from https://github.com/Zilero232/arch-install-kit
*/

/* Base colors */
@define-color base   #1f1f28;
@define-color mantle #16161d;
@define-color crust  #0d0d14;

/* Text colors */
@define-color text     #AAAAAA;
@define-color subtext0 #7A7A7A;
@define-color subtext1 #555555;

/* Surface colors */
@define-color surface0 #2a2a37;
@define-color surface1 #363646;
@define-color surface2 #43436f;

/* Overlay colors */
@define-color overlay0 #565575;
@define-color overlay1 #727169;
@define-color overlay2 #8b8b8b;

/* Accent colors */
@define-color blue      #7788AA;
@define-color lavender  #dea8ba;
@define-color sapphire  #C2D1FF;
@define-color sky       #72A4BD;
@define-color teal      #B4CDCD;
@define-color green     #789978;
@define-color yellow    #FFF18D;
@define-color peach     #F9EBDF;
@define-color maroon    #e46876;
@define-color red       #e82424;
@define-color mauve     #FED0FC;
@define-color pink      #D27E99;
@define-color flamingo  #e82424;
@define-color rosewater #dcd7ba;

/* Additional styling variables - using solid colors instead of rgba */
@define-color background-primary   #000000;
@define-color background-secondary #444444;
@define-color background-hover     #444444;
@define-color border-color         #555555;

/* Status colors */
@define-color success @green;
@define-color warning #FFAA88;
@define-color error   @red;
@define-color info    @blue;

/* Module-specific background colors */
@define-color bg-workspaces #2a2a37;
@define-color bg-clock      #7aa89f;
@define-color bg-system     #363646;
@define-color bg-network    #363646;
@define-color bg-audio      #363646;
@define-color bg-power      #e82424;
